In [1]:
import pandas                 as pd
import matplotlib.pyplot      as plt
import seaborn                as sns
import datetime
import pandas_datareader      as web
from matplotlib               import style
%matplotlib inline

C:\Users\fernando.rocha\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
#define range of data
start_date = datetime.datetime(2010, 12, 31)
end_date= datetime.datetime(2020, 6, 1)

#Data from google and microsoft
google = web.DataReader('GOOG', 'yahoo', start_date, end_date)
microsoft = web.DataReader('MSFT', 'yahoo', start_date, end_date)

In [4]:
google.head(2)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-12-30,299.542236,297.579590,297.883453,298.311859,1986300.0,298.311859
2010-12-31,298.092682,294.909607,297.255798,295.875977,3090000.0,295.875977

In [5]:
microsoft.head(2)

             High        Low       Open  Close      Volume  Adj Close
Date
2010-12-30  28.00  27.780001  27.920000  27.85  20786100.0  22.254335
2010-12-31  27.92  27.629999  27.799999  27.91  24752000.0  22.302277